.audience {
    position: relative;
    background-image: linear-gradient(to top, #0f0c29, #302b63, #24243e);
    height: 200px;
    overflow: hidden;
}

.table {
    position: absolute;
    bottom: -100px;
    height: 200px;
}

.audience-member {
    position: absolute;
    bottom: -30px;
}

.audience-member--reacting {
    animation: bounce 0.05s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}
